*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

.header{
    padding-top: 100px;
    padding-bottom: 100px;
    background: rgba(211, 211, 211, 0.226);
}

.nav_img{
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    
}

.header_img{
    width: 100%;
}

.header_text{
    position: absolute;
    font-size: 80px;
    top: 1%;
    left: -40%;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}

.nav_suptext{
    font-size: 20px;
    position: absolute;
    top: 55%;
    right: -50%;
    width: 200%;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

.nav_list{
    position: absolute;
    display: flex;
    bottom: -10%;
    right: 25%;
}

.nav_item{
    border-top: gray solid 1px;
    border-bottom: 1px solid gray;
}

.nav_link{
    margin: 0px 20px;
    text-decoration: none;
    color: gray;
    transition: .3s;
    padding: 7px 12px;
    text-transform: uppercase;
}

.nav_link:hover{
    background-color: rgba(177, 173, 173, 0.597);
    color: gray;
}

.footer{
    background-image: url(/img/photo8_2021-08-18_16-07-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.footer_box{
    position: absolute;
    right: 43%;
    top: 10%;
}

.form{
    width: 100%;
}

input{
    padding: 20px 35px;
    border: none;
}

.email_buton{
    margin-top: -1px;
    font-weight: bold;
}